/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: groove;
  border-color: aliceblue;
  border: 5;
  padding-left: 20px;
  padding-right: 20px;
  
  
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


